<p id="notice"><%= notice %></p>

<h1>Expense Details</h1>

<table>
  <thead>
    <tr>
      <th>Amount</th>
      <th>Description</th>
      <th>Category</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @expense_details.each do |expense_detail| %>
      <tr>
        <td><%= expense_detail.amount %></td>
        <td><%= expense_detail.description %></td>
        <td><%= expense_detail.category %></td>
        <td><%= link_to 'Show', expense_detail %></td>
        <td><%= link_to 'Edit', edit_expense_detail_path(expense_detail) %></td>
        <td><%= link_to 'Destroy', expense_detail, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Expense Detail', new_expense_detail_path %>
