<budget>
  <header>Budget dated: <%= @budget.start_date %> to <%= @budget.end_date %> </header>

  <section class="summary">
    <h1>Summary</h1>
    <h2>Expenses: <%= link_to 'budget_expenses', budget_expenses_path(@budget) %></h2>
    <div>Budget: <%= @total_budget %></div>
    <table>
      <th>Category</th>
      <th>Allocated %</th>
      <% @allocations.each do |category_allocation| %>
          <tr>
            <td><%= category_allocation[:category] %></td>
            <td><%= category_allocation[:budget_allocation] %></td>
          </tr>
      <% end %>
    </table>
  </section>

  <section class="expenses">
    <div class="categories">
      <table>
        <th>Detail</th>
        <th>Category</th>
        <th>Budgeted</th>
        <th>remaining</th>
        <% @category_summaries.each do |category| %>
            <tr>
              <td><%= category[:name] %></td>
              <td><%= category[:category] %></td>
              <td><%= category[:budgeted_amount] %></td>
              <td><%= category[:remaining_amount] %></td>
            </tr>
        <% end %>
      </table>
    </div>
  </section>
</budget>

<%= link_to 'Edit', edit_budget_path(@budget) %> |
<%= link_to 'Back', budgets_path %>
