<p id="notice"><%= notice %></p>

<p>
  <strong>Start date:</strong>
  <%= @budget_budget.start_date %>
</p>

<p>
  <strong>End date:</strong>
  <%= @budget_budget.end_date %>
</p>

<p>Categories!</p>
<% @budget.category_details.each do |category| %>
  <p>
    <strong>Category Name</strong>
    <%= category.name %>
    <strong>budgeted</strong>
    <%= category.budgeted_amount %>
    <strong>spent</strong>
    <%= @budget.expense_details.where(budget_category_detail_id: category.id).sum(:amount) %>
  </p>
<% end %>

<%= link_to 'Edit', edit_budget_budget_path(@budget_budget) %> |
<%= link_to 'Back', budget_budgets_path %>
