<p id="notice"><%= notice %></p>

<p>
  <strong>Start date:</strong>
  <%= @budget_budget.start_date %>
</p>

<p>
  <strong>End date:</strong>
  <%= @budget_budget.end_date %>
</p>

<%= link_to 'Edit', edit_budget_budget_path(@budget_budget) %> |
<%= link_to 'Back', budget_budgets_path %>
