<div class="nested-fields">
  <%= f.label :amount%>
  <%= f.number_field :amount %>
  <%= f.label :category%>
  <%= f.text_field :category %>
  <%= link_to_remove_association "remove expense detail", f %>
</div>