<p id="notice"><%= notice %></p>

<h1>Expenses</h1>

<table>
  <thead>
    <tr>
      <th>Total amount</th>
      <th>Description</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @expenses.each do |expense| %>
      <tr>
        <td><%= expense.total_amount %></td>
        <td><%= expense.description %></td>
        <td><%= link_to 'Show', budget_expense_path(@budget, expense) %></td>
        <td><%= link_to 'Edit', edit_budget_expense_path(budget: @budget, id: expense) %></td>
        <td><%= link_to 'Destroy', budget_expense_path(id: expense.id), method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Expense', new_budget_expense_path %>
