<p id="notice"><%= notice %></p>

<p>
  <strong>Total amount:</strong>
  <%= @expense.total_amount %>
</p>

<p>
  <strong>Description:</strong>
  <%= @expense.description %>
</p>

<%= link_to 'Edit', edit_budget_expense_path(@budget, @expense) %>
<%= link_to 'Back', budget_expenses_path(@budget) %>
